@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
*{
font-family: 'Kanit', sans-serif;

/***Tema Diurno***/

}
body{
    background-image: url('cudillero.jpg');
    background-size: cover;
    width: auto;
    height: auto;
}
.bt-change{
    width:auto;
    margin-left: 90%;
    border-radius: 20px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.widget{
    width: 40%;
    margin: 0 auto;
    }

.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha{
    background-color: rgba(200, 227, 24, 0.2);
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    font-size:1.8em;
    padding: 20px;
    margin-bottom: 0.315rem;
    border-radius: 200px;
    
}

.tiempo{
    background-color: rgba(185, 230, 245, 0.9);
    color:darkblue;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    padding: 20px;
    margin-top: 10px;
    border-radius: 250px;
}

.caja-segundos{
    display:inline-block;
    
}

.caja-segundos .segundos,.caja-segundos .ampm{
    font-size: 2rem;
    font-weight: bold;
    color:rgb(255, 0, 0);
    display: block;
}

/***Tema Nocturno***/


.noche .bt-change{
    width:auto;
    margin-left: 90%;
    border-radius: 20px;
}
.noche .contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.noche .widget{
    width: 40%;
    margin: 0 auto;
    }

.noche .widget p{
    display: inline-block;
    line-height: 1em;
}
.noche .fecha{
    background-color: rgba(124, 13, 165, 0.357);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size:1.8em;
    padding: 20px;
    margin-bottom: 0.315rem;
    border-radius: 200px;
    
}

.noche .tiempo{
    background-color: rgba(38, 60, 68, 0.554);
    color:rgb(191, 153, 121);
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    padding: 20px;
    margin-top: 10px;
    border-radius: 250px;
}

.noche .caja-segundos{
    display:inline-block;
    
}

.noche .caja-segundos .segundos,.noche .caja-segundos .ampm{
font-size: 2rem;
font-weight: bold;
color:rgb(212, 255, 0);
display: block;
}